.nav-link {
    transition: background 0.3s ease-in-out;
    padding: 8px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Color con opacidad */
    transform: scale(1.05);
}

.custom-scroll {
    scrollbar-width: thin; /* Scroll más delgado en Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.custom-scroll::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra en Chrome, Edge, Safari */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Color de la barra */
    border-radius: 5px;
}

/* styles.css */
.active-link {
    background-color: rgba(0, 0, 0, 0.1); /* Un fondo ligeramente oscuro */
    color: white !important; /* Asegura que el texto sea blanco y tenga prioridad */
    font-weight: bold; /* Opcional: texto en negrita */
}

.active-link:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Oscurecer un poco al pasar el ratón (opcional) */
}